*.class
*.log
*.pyc
sbt/*.jar
.idea/

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/
/lib/JavaEWAH-1.0.2.jar
/lib/ansj_seg-3.7.1-all-in-one.jar
/lib/commons-cli-1.2.jar
/lib/commons-logging-1.1.1.jar
/lib/commons-pool2-2.3.jar
/lib/guava-14.0.1.jar
/lib/hadoop-lzo-0.4.19.jar
/lib/hbase-client-1.0.1.1.jar
/lib/hbase-common-1.0.1.1.jar
/lib/hbase-protocol-1.0.1.1.jar
/lib/hbase-rdd_2.10-0.4.0-SNAPSHOT.jar
/lib/hbase-server-1.0.1.1.jar
/lib/htrace-core-3.1.0-incubating.jar
/lib/jedis-2.5.2.jar
/lib/mongo-hadoop-core_1.1.2-1.2.0.jar
/lib/mongo-java-driver-2.12.2.jar
/lib/part_2.10-0.2-sources.jar
/lib/part_2.10-0.2.jar
/lib/protobuf-java-2.5.0.jar
/lib/scalatest_2.10-2.1.3.jar
/lib/spark-assembly-1.5.1-hadoop2.6.0.jar
/lib/spark-indexedrdd-0.3.jar
/lib/spark-indexedrdd-0.3.zip
/lib/spark-job-server.jar
/lib/spark-streaming-kafka-assembly_2.10-1.5.1.jar
/lib/spray-json_2.10-1.3.1.jar
/lib/zen-examples_2.10-0.2-SNAPSHOT-sources.jar
/lib/zen-examples_2.10-0.2-SNAPSHOT.jar
/lib/zen-ml_2.10-0.2-SNAPSHOT-sources.jar
/lib/zen-ml_2.10-0.2-SNAPSHOT.jar
/smf.iml
